<div class="" ng-init="list.getMovie()">
  <div class="detailsContainer">
    <div class="row">
      <div class="col-sm-9 col-xs-12">
        <div class="posterContainer">
          <img src="{{list.posterLink}}" alt="" />
        </div>
      <div class="detailInfo col-sm-7 col-xs-12">
        <h1>{{list.movieTitle}}</h1>
        <h3>{{list.movieDescription}}</h3>
        <!-- <h3>{{list.data}}</h3> -->
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
