<div class="" ng-init="list.getMovie()">

  <div class="col-sm-9 col-xs-12">
  <div class="detailsContainer">

        <div class="posterContainer">
          <img src="{{list.posterLink}}" width="450" height="675" alt="Movie Poster" />
        </div>

        <div class="col-sm-7 col-xs-12">
        <div class="descriptionContainer">
          <h1 id="movietitle">{{list.movieTitle}}</h1>
          <h3 id="moviedesc">{{list.movieDescription}}</h3>
          <h3 id="moviestarttime">Start Time: {{list.startTime}}</h3>
          <p id="moviestartsin">(starts in xx minutes)</p>
          <h3 id="movieruntime">Run Time: {{list.runTime}}</h3>
          <p id="movieends">(ends at approximately xx:xx)</p>
        </div>
        </div>

  </div>
  </div>
