<div class="listContainer">
  <div class="titleContainer">
    <h2 id=listTitle>A List of all the movies closest to 90036</h2>
    <select class="formControl" ng-model="sortBy">
      <option value="startTime">startTime</option>
      <option value="movieName">Name</option>
    </select>
  </div>

  <div class="listContainer">
    <div class="row" ng-repeat="movie in list.data | orderBy: sortBy='startTime'" id="{{movie.id}}">
      <div class="listedMovie col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0" ng-click='list.openButtons(movie)'>
        <div class="row">
          <div class="title col-sm-4 col-xs-12">
            <h3>{{movie.movieName}}</h3>
          </div>
          <div class="time col-sm-4 col-xs-12">
            <h2>{{movie.startTime}}</h2>
          </div>
          <div class="poster col-sm-4 col-xs-12">
            <h3>{{movie.theatreName}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
