
li {
  list-style-type: none
}

.buttons {
  margin-left: 25%;
}

.buttonContainer {
  height: 90px;
  width: 100%;
  margin-bottom: 4px;
  /*outline: 2px solid black;*/
  display: inline-block;
}

.buttonContainer button {
  height: 60px;
  width: 200px;
  margin: 15px 10px 10px 10px;
}

.detailsButton {
  postion: relative;
  height: 100px;
  width: 200px;
  /*outline: 2px solid black*/
}

.mapButton {
  position: relative;
  height: 100px;
  width: 200px;
  /*outline: 2px solid black*/
}

.detailsContainer {
  width: 90%;
  height: 1200px;
  margin: 0 0 25px 5%;
  background-color: #c0e8e8;
  outline: 3px solid black;
}

.detailInfo {

}

.dropdownToggle {
  display: block;
  width: 16%;
  min-width:100px;
  height: 25px;
}

.formControl {
  width: 250px;
  height: 50px;
  font-size: 24px;
}

.goToMap {
  height: 100%;
  max-height: 100%;
  background-color: green;
  display: inline-block;
  position: relative;
}

.listContainer{
  background-color: #E9E5DC;
}

.listedMovie {
  list-style-type: none;
  background-color: #e0efef;
  min-height: 100%;
  margin: 0 0 0 20%;
  height: 120px;
  margin: 0 0 4px 0;
}

.threeBtn {
  width: 239px;
  height: 35px;
}

#dirBtn {
  background-color: #666666;
  color: white;
}

#dirBtn:hover {
  background-color: #5b5b5b;
}

#movBtn {
  background-color: #7dcdcd;
  color: white;
}

#movBtn:hover {
  background-color: #70b8b8;
}

#buyBtn {
  background-color: white;
  color: black;
}

.buttonRow {
  margin: 5px 0px 0px 15px;
}

.listedTitle h4 {
  float: left;
  padding-right: 25px;
}

.listTitle {
  display: inline-block;
  height: 100%;
  max-height: 100%;
  position: relative;
  border-right: 2px solid gray;
  padding-right: 25px;
}

.popoutBox {
  min-height: 100%;
}

.popoutBox li{
  border-bottom: 2px solid gray;
  height: 25px;
  margin: 0 0 0 0;
  background-color: #B6B6B4;
}

.movieRow {
  max-width: 100%;
  margin: 10px 0px 0px 20px;
}

#movieName {
  font-size: 20px;
  margin: 8px 0px 8px 20px;
}

#startTime {
  font-size: 15px;
  margin: 13px 0px 8px 0px;
  text-align: left;
}

#theatreName {
  font-size: 15px;
  margin: 13px 0px 8px 0px;
  text-align: right;
}

.navTab {
  width: 190px;
  text-align: center;
  /*background-color: #FDF5FD*/
}

.navTab a{

}

.navContainer {

}

.logoContainer {
  width: 250px;
  display: inline-block;
  /*text-align: center;*/
}

.tabContainer {
  display: inline-block;
  float: right;
  margin-right: 40%;
}

#logolink {
  margin: 22px 0px 0px 10px;
  font-size: 35px;
  font-weight: 800;
}

#maplink {
  margin: 5px 0px 5px 0px;
  font-size: 35px;
  font-weight: 800;
  border-right: 2px solid gray
}

#listlink {
  margin: 5px 0px 5px 0px;
  font-size: 35px;
  font-weight: 800;
}

/*begin _details.html css*/
.detailsContainer {
  height: auto;
  width: 550px;
  display: inline-block;
  margin: 20px 0px 60px 0px;
  background-color: #c0e8e8;
  outline: 3px solid black;
}

.title {
  position: relative;
  margin-top: 0px;
}

.posterContainer img {
  margin: 40px 0 0 50px;
}

.descriptionContainer {
  width: 450px;
  margin: 0px 0px 0px 20px;
}

#movietitle {
  font-size: 35px;
  text-align: center;
}

#moviedesc {
  font-size: 12px;
  margin-left: 40px;
}

#moviestarttime {
  font-size: 25px;
  text-align: center;
}

#moviestartsin {
  font-size: 20px;
  text-align: center;
}

#movieruntime {
  font-size: 25px;
  text-align: center;
}

#movieends {
  font-size: 14px;
  text-align: center;
}
/*end _details.html css*/


/*begin id elements*/
#listTitle {
  background-color: white;
  height: 150px;
  font-weight: bolder;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 82px;
  padding-bottom: 50px;
}

#map {
  height: 100%;
}

#footer-text {
  color: black;
  font-size: 13px;
  text-align: center;
  margin-top: 16px;
}

.navbar-fixed-top {
  background-color: white;
}
